{% extends 'subwindow.html' %}


{% block subwindowtitle %}
{{ plan.name }} Plan
{% endblock %}

{% block subwindowbody %}

<style>

form label {
   float: left;
   width: 135px;
}

#id_exp_year {  
  width: 48px;
}

#id_exp_month {
  width: 32;
}

#id_number {
  width: 160px;
}

.label {
  width: 200px;
  display: inline;
}

.fieldWrapper {
  margin-bottom: 5px;
}


form {
  width: 500px;
  text-align: left;
}

#formholder {
  text-align: center;
  width: 100%;
}

</style>
<div class="free-trial"><span class="free-trial-num-days">{% if plan.free_trial_days %}{{ plan.free_trial_days }}{% endif %}</span> days free!</div>


<div class="price">{{plan.price_in_dollars}}</div>

<div id="formholder">
<form action="" method="post">{% csrf_token %}

    {{ form.non_field_errors }}

  
    <div class="fieldWrapper">
        {{ form.number.errors }}
	<label for="id_number">Card Number</label>
        {{ form.number }}
    </div>
    <div class="fieldWrapper">
        {{ form.exp_month.errors }}
        <label for="id_exp_month">Exp Month:</label>
        {{ form.exp_month }}
    </div>
    <div class="fieldWrapper">
        {{ form.exp_year.errors }}
        <label for="id_exp_year">Exp Year:</label>
        {{ form.exp_year }}
    </div>
    <div class="fieldWrapper">
        {{ form.plan.errors }}
        <label for="id_plan">Plan:</label>
        {{ form.plan }}
    </div>
    
    <p><input type="submit" value="Get Started!"/></p>
</form>
</div>

{% endblock %}
